* {
  margin: 30;
  padding: 30;
  box-sizing: border-box;
  /* background-color: blue */
  font-size: 24px;
}
.inputShowHide .mybuttons{
  display: visible;
  color: grey;
}

.werkoutDisplay{
  justify-content: flex-start;
}

.werkout{
  display: none;
  color: white;
  padding: 0px;
  
}
.containerTimer {
    margin: 20;

  /* color: #fff; */
  padding: 20px 0; 
  display: flex;
  justify-content: center; 


}
.colgroup{
  /* border: 1px solid red;   */
  /* width: 900px; */
  /* align-items: flex-start;  */
  /* display: flex; 
  flex-direction: column;
  justify-content: center;   */
  display: flex;
  flex: 50%;



}

.btn{
  margin-top: 10px;
  margin-bottom: 10px;}

.timerdiv {
  /* border: 1px solid red;   */
  /* width: 900px; */
  /* align-items: flex-start;  */
  /* display: flex;  */
  /* flex-direction: column; */
  justify-content: center;  


}
.message  {
  font-size: 45px;
  justify-content: center;  

}
.a {
padding: 0;
color: white;
justify-content: right;  
align-items: center;

}

.minutes, .time, .seconds, .a  {
  font-size: 60px;

  /* align-content: center;  */

}
.userMessages { 
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center; 

}


.input-number-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.text-center{
  font-size: 25px;
color:white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: center;
}
.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.input-number-group .input-group-button {
  line-height: calc(80px/2 - 5px);
}
.input-number {
  margin:  30px 0px 0px 0px;
  color: grey;
}

.input-number-group .input-number {
  width: 80px;
  /* padding: 0 12px;
  vertical-align: bottom; */
  text-align: center;
  outline: none;
  display: block;
  margin: 0;
}

.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  border: 1px solid #cacaca;
  height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
}

.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  display: inline-block;
  width: 40px;
  background: #e6e6e6;
  color:grey;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
}

.input-number-group .input-number-decrement {
  margin-right: 0.3rem;
}

.input-number-group .input-number-increment {
  margin-left: 0.3rem;
}

